# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz
.env
test_timezone_repro.js
# Coveralls
.nyc_output
coverage

.vscode
verify_agent_logic.js
test_stream_logic.js
# Benchmarking
benchmarks/graphs

*.txt

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore